<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
    
          <div class="hero__left">
            <h1 class="hero__title">{{ site.hero.hero__title }}</h1>
            <p class="hero__description">{{ site.hero.hero__description }}</p>
            {% if site.mailchimp == "enable" %}
            <div class="hero__subscribe">
              <iframe src="https://dataumbrella.substack.com/embed" width="360" height="240" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
            </div>
            {% endif %}
          </div>

          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.hero.hero__image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

